  <header id="header" class="header align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <div class="this-logo" alt="logo" ></div>
        <span class="d-none d-lg-block">Document Module</span>
      </a>
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->
          <app-menu />
        </ul>
      </nav><!-- End Icons Navigation -->

    </div>





  </header><!-- End Header -->