<li class="nav-item dropdown">

  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
    <i class="bi bi-list"></i>
  </a>

  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
    <li class="notification-item">
      <i class="bi bi-exclamation-circle text-warning"></i>
      <div>
        <a class="icon"><h4>Upload Documents</h4></a>
      </div>
    </li>

    <li>
      <hr class="dropdown-divider">
    </li>

    <li class="notification-item">
      <i class="bi bi-x-circle text-danger"></i>
      <div>
        <h4>My List</h4>
      </div>
    </li>

    <li>
      <hr class="dropdown-divider">
    </li>

    <li class="notification-item">
      <i class="bi bi-check-circle text-success"></i>
      <div>
        <h4>My Approval List</h4>
      </div>
    </li>

    <li>
      <hr class="dropdown-divider">
    </li>

    <li class="notification-item">
      <i class="bi bi-info-circle text-primary"></i>
      <div>
        <h4>Dicta reprehenderit</h4>
      </div>
    </li>
  </ul>

</li>